.header {
    padding: 20px 0;
}

.details {
    margin-top: -18px;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.invite-row .invite {
    margin: 10px 10px 10px 0;
}

.rsvp-buttons {
    text-align: center;
    margin: 40px 0 40px 0;
}

.description {
    margin: 0px 0px 0px 0px ;
}

.attendance .who {
    margin-bottom: 5px;
}

.attendance .invite {
    text-align: center;
}

input.chosen {
    font-weight: bold;
}

.map {
    background-image: url('/kendallsq.png');
    background-position: 0;
    background-repeat: no-repeat;
    width: 760px;
    height: 500px;
}

#rightpanel {
}

.map circle.public {
    fill: #49AFCD;
}

.map circle.private {
    fill: #DA4F49;
}

.map circle.farming {
    fill: #afcd49;
}

.map circle.idle {
    fill: #49AFCD;
}

.map text {
    text-anchor: middle;
    fill: white;
    font-weight: bold;
}

.map circle.callout {
    stroke-width: 5px;
    stroke-dasharray: 9, 5;
    stroke-opacity: .8;
    fill: none;
    stroke: red;
}

.customfooter {
    position: absolute;
    background: #afcd49;
    background-position: 0;
    bottom: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 35px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}


.green {
    color: #afcd49;
}

.light {
    color: #ccc;
}